<div class="row">
  <% @todo_lists.each do |todo_list|%>

   <div class="col-lg-3  col-md-3 " >
     <div class="col-lg-12  col-md-12 " id="index_row">
      <h2 class= "todo_list_title" ><%= link_to todo_list.title, todo_list %></h2>
      <p class="todo_list_sub_title"><%=  todo_list.description.capitalize %></p>
      <p> <%= @tasker %></p>

  </div>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="links">
    <h2><%= button_to "Ajouter une nouvelle liste de tâche", new_todo_list_path,   class: "btn btn-primary",  :method => :get%></h2>
  </div>
</div>
